<div class='form form--auth'>
  <h3>Account</h3>
  <p>Change your basic account settings.</p>
  <hr>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.email_field :email, autofocus: true, placeholder: 'email' %>

    <%= f.text_field :username, placeholder: 'choose a username' %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <% unless current_user.provider == 'github' %>
      <%= f.password_field :current_password, autocomplete: 'off', placeholder: 'current password' %>

      <%= f.password_field :password, autocomplete: 'off', placeholder: "new password" %>

      <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'verify password' %>
    <% end %>

    <%= f.submit 'Update' %>
  <% end %>

  <%= link_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete %>
</div>
