<div class='form form--auth'>
  <h3>Sign up</h3>
  <hr>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.email_field :email, autofocus: true, required: true, placeholder: 'email' %>

    <%= f.text_field :username, required: true, placeholder: 'choose a username' %>

    <%= f.url_field :image, placeholder: 'enter the url to your profile picture (optional)' %>

    <%= f.password_field :password, autocomplete: 'off', required: true, placeholder: 'password' %>

    <%= f.password_field :password_confirmation, autocomplete: 'off', required: true, placeholder: 'verify password' %>

    <%= f.submit 'Sign up' %>
  <% end %>

  <hr>
  <div class='login-footer'>
    Already have an account?
    <%= render 'devise/shared/links' %>
  </div>
</div>
