<%= render 'tabs' %>

<div class="user-info-box">
  <%= image_tag @user.image %>
  <h3><%= @user.username %></h3>
  <div><%= @user.challenges.count %> challenges</div>
  <div><%= @user.comments.count %> comments</div>
</div>
