<div>
  <h5>Comment by <%= comment.user.email %></h4>
  <p class="comment"><%= comment.body %></p>
  <p>
    Posted <%= distance_of_time_in_words(Time.now, comment.created_at) %> ago
    <% if comment.created_at != comment.updated_at %>
      * (last edited <%= distance_of_time_in_words(Time.now, comment.updated_at) %> ago)
    <% end %>
  </p>

  <% if user_signed_in? && current_user.id == comment.user.id %>
    <%= link_to 'edit', edit_challenge_comment_path(@challenge, comment) %>
    <%= link_to 'delete', challenge_comment_path(@challenge, comment), method: :delete, data: {confirm: 'Really delete the comment?'} %>
  <% end %>
</div>
