<div class='comment'>
  <p class='comment__tagline'>

  <%= link_to comment.user.username, user_path(comment.user.username), class: "username #{'challenge-owner' if challenge.user_id == comment.user.id}" %>

    <span class='timestamp'>
      <%= distance_of_time_in_words(Time.now, comment.created_at) %> ago
      <% if comment.created_at != comment.updated_at %>
      * (last edited <%= distance_of_time_in_words(Time.now, comment.updated_at) %> ago)
      <% end %>
    </span>

  </p>

  <p class='comment__body'><%= comment.body %></p>

    <% if user_signed_in? %>
      <ul class='actions'>
        <!-- TODO: add comment replying and context -->
        <li><a href='#'>reply</a></li>
        <!-- <li><a href='#'>context</a></li> -->

        <% if owns_content?(comment) %>
          <li><%= link_to 'edit', edit_challenge_comment_path(challenge, comment) %></li>
          <li><%= link_to 'delete', challenge_comment_path(challenge, comment), method: :delete, data: { confirm: 'Really delete the comment?' } %></li>
        <% end %>
      </ul>
    <% end %>
</div>
