<% @challenges.each do |challenge| %>
  <section class="challenge">
    <h3><a href="#"><%= challenge.name %></a></h3>
    <hr>
    <p><%= challenge.short_description %></p>
    <!-- <p><%= challenge.long_description %></p> -->
    <span class="tags"><%= link_to challenge.difficulty %></span>
    <% challenge.tags.each do |tag| %>
      <ul class="tags">
        <li><a href="#"><%= tag.name %></a></li>
      </ul>
    <% end %>
  </section>
<% end %>

<%= link_to 'New Challenge', new_challenge_path, class: 'button' %>
