<% @challenges.each do |challenge| %>
  <section class='challenge'>
    <h3><%= link_to challenge.name, challenge_path(challenge) %></h3>

    <hr>

    <p><%= challenge.short_description %></p>

    <ul class='challenge__tags'>
      <% challenge.tags.each do |tag| %>
        <li><%= link_to tag.name, tag_path(tag.name) %></li>
      <% end %>

      <li><%= link_to challenge.difficulty, eval("challenges_#{challenge.difficulty}_path") %></li>
    </ul>
  </section>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New Challenge', new_challenge_path, class: 'button' %>
<% end %>
