<h1>New</h1>
<%= form_for(@challenge) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, class: 'form_control' %>

  <%= f.label :short_description %>
  <%= f.text_field :short_description, class: 'form_control' %>

  <%= f.label :long_description %>
  <%= f.text_field :long_description, class: 'form_control' %>

  <%= f.label :difficulty %>
  <%= select('challenge', 'difficulty', Challenge.difficulties.keys.map {|difficulty| [difficulty]}, {prompt: 'Select Difficulty'}) %>

  <%= f.label :tag %>
  <%= select('tag', 'name', Tag.all.collect {|t| [t.name]}) %>

  <%= f.submit 'create' %>
<% end %>
