<nav class='navbar'>
  <div class='navbar__wrapper'>
    <%= image_tag('logo.svg', height: '30', class: 'navbar__image', alt: 'coding_challenges') %>
    <%= link_to 'coding challenges', root_path, class: 'navbar__title' %>

    <div class='dropdown float-right'>

      <% if user_signed_in? %>
        <a href='#' data-toggle='dropdown'>

          <% if current_user.image %>
            <%= image_tag(current_user.image, class: 'navbar__image') %>
          <% else %>
            <%= image_tag('account_circle.svg', class: 'navbar__image') %>
          <% end %>

          <%= current_user.username %>
          <span class='caret'></span>
        </a>

        <ul class='dropdown-menu'>
          <li class='dropdown-item'><%= link_to 'Profile', user_path(current_user.username) %></li>
          <li role='separator' class='divider'></li>
          <li class='dropdown-item'><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <% unless controller.controller_name.in? ['sessions', 'registrations'] %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'button button-outline' %>
          <%= link_to 'Log in', new_user_session_path, class: 'button' %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
