<!DOCTYPE html>
<html>
<head>
  <title>CodingChallenges</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li><a href="#">Challenges</a></li>
    </ul>
  </header>

<%= yield %>

</body>
</html>
