<!DOCTYPE html>
<html>
<head>
  <title>CodingChallenges</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main class="wrapper">

    <nav class="navigation">
      <section class="container">

        <a href="#" class="navigation-title">
          <h1 class="title">Coding Challenges</h1>
        </a>

        <ul class="navigation-list float-right">
          <li class="navigation-item">
            <a href="#" class="navigation-link">Challenges</a>
          </li>
          <li class="navigation-item">
            <a href="#" class="navigation-link">Other</a>
          </li>
        </ul>

      </section>
    </nav>
  </main>

<%= yield %>

</body>
</html>
